<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./adminHead'); %>   
</head>
<body>
    <main>
        <%- include('./sidebar') %>
        <div class="container">
        </div>  
    </main>
    <!-- <div class="container h-100"> -->
        <%- //include('../header'); %>
    <!-- </div> -->
    <%- include('../script'); %>
    <script src="/js/admin.js"></script>
</body>
</html>