<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <h3>OraCulum</h3>
    </a>
    <ul class="nav flex-column mb-auto ">
        <li class="nav-item">
            <a href="/admin" class="nav-link text-left text-white mb-3">Home</a>
        </li>
        <li class="nav-item">
            <a href="/admin/management?type=users" class="nav-link text-left text-white mb-3">User Management</a>
        </li>
        <li class="nav-item">
            <a href="/admin/management?type=events" class="nav-link text-left text-white mb-3">Event Management</a>
        </li>
    </ul>
    <hr>
    <a href="/account/logout" class="nav-link text-white">Sign Out</a>
</div>
<div class="b-example-divider"></div>