<div class="h-100 p-3 text-white bg-dark sidebar">
    <div class="d-flex flex-column flex-shrink-0 flex-wrap">
        <a href="/" class="d-flex align-items-center mb-3 md-0 me-md-auto text-white">
            <h3>OraCulum</h3>
        </a>
        <ul class="nav flex-column mb-auto ">
            <li class="nav-item">
                <a href="/admin" class="nav-link text-left text-white mb-1">
                    <i class="fa-solid fa-house"></i>   
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/users" class="nav-link text-left text-white mb-1">
                    <i class="fa-solid fa-user"></i>
                    User Management
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/events" class="nav-link text-left text-white mb-1">
                    <i class="fa-regular fa-calendar-plus"></i>
                    Event Management
                </a>
            </li>
        </ul>
        <div class="signOut">
            <hr>
            <a href="/account/logout" class="nav-link text-white mt-auto">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sign Out
            </a>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>