<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../head'); %>   
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container h-100">
        <%- include('../header'); %>
    </div>
    <%- include('../script'); %>
    <script>$('nav > a:first-child').addClass('active');</script>
</body>
</html>