<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head') %>
</head>
<body>
    <div class="container">
        <%- include('./header'); %>
        <main style="position: absolute; left: 50%; top: 40%; transform: translate(-50%, -50%);">
            <h1>404 Not Found</h1>
            <a href="/" class="btn mt-3 btn-lg btn-light fw-bold border-white bg-white">Back Home</a>
        </main>
    </div>
    <footer>
        <%- include('./script'); %>
    </footer>
</body>
</html>