<header>
    <div>
        <h3 class="logo"><a href="/">Oraculum</a></h3>
        <div class="text-end">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <% if(isLogin) { %>
                    <a class="nav-link fw-bold py-1 px-0" href="/account/mypage">My page</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/account/logout">Sign-out</a>
                <% } else { %>
                    <a class="nav-link fw-bold py-1 px-0" href="/account/login">Login</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/account/register">Sign-up</a>
                <% } %>
            </nav>        
        </div>
    </div>
</header>