<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <%- include('./header'); %>
        <main style="min-width: 19rem;">
                <h1>Oraculum</h1>
                <p class="lead">
                    The cover page is a simple one-page template. It is annoying to have to design by changing the text and adding a full screen background picture.
                </p>
                <p class="lead">
                    <% if(isLogin) { %>
                        <a href="/main" class="btn btn-lg btn-light fw-bold border-white bg-white">Start</a>
                    <% } else { %>
                        <a href="/account/login" class="btn btn-lg btn-light fw-bold border-white bg-white">Login</a>
                    <% } %>
                    <a href="/admin" class="btn btn-lg btn-light fw-bold border-white bg-white">admin</a>
                </p>
            </div>
        </main>
    </div>
    <footer>
        <%- include('./script'); %>
    </footer>
</body>
</html> 