<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head'); %>   
    <link rel="stylesheet" href="/css/main.css">
    <title>Main</title>
</head>
<body>
    <div class="container h-100">
        <%- include('./header'); %>
    </div>
    <footer>
        <%- include('./script'); %>
        <script src="/js/main.js"></script>
    </footer>
</body>
</html>