<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head'); %>   
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="canvas">
        <canvas id="canvas"></canvas>
    </div>
    <div class="container">
        <%- include('./header'); %>
        <div class="d-flex flex-column main">
            <div class="row stats">
                <i class="col-3 fa-solid fa-droplet" id="fuel">
                    <i class="fa-solid fa-droplet" id="fuelFill"></i>
                </i>
                <i class="col-3 fa-solid fa-diamond" id="resource">
                    <i class="fa-solid fa-diamond" id="resourceFill"></i>
                </i>
                <i class="col-3 fa-solid fa-gear" id="technology">
                    <i class="fa-solid fa-gear" id="technologyFill"></i>
                </i>
                <i class="col-3 fa-solid fa-skull" id="risk">
                    <i class="fa-solid fa-skull" id="riskFill"></i>
                </i>
            </div>
            <p class="contents"></p>
            <div class="row pb-4 justify-content-center mt-auto mb-auto">
                <div class="col-10 col-md-8 col-lg-8 col-xl-8 slider">                
                    <div class="item selectBox top" draggable="true">
                        <img id="cardImage">
                        <span id="npcName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="answer answer-left" id="selectLeft"></div>
    <div class="answer answer-right" id="selectRight"></div>

    <footer>
        <%- include('./script'); %>
        <script src="/js/main.js"></script>
    </footer>
</body>
</html> 

