<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head'); %>   
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="container">
        <%- include('./header'); %>
        <h3 class="title">asd<%= //userName %></h3>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10 col-md-8 col-lg-8 col-xl-8 slider">                
                <div class="item a" draggable="true">a</div>
            </div>
        </div>
    </div>

    <div class="answer answer-left">left</div>
    <div class="answer answer-right">right</div>

    <footer>
        <%- include('./script'); %>
        <script src="/js/main.js"></script>
    </footer>
</body>
</html> 

