main {
    display: flex;
    flex-wrap: nowrap;
    margin-left:  + 1.5rem;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
hr {
    margin: 0.25rem 0;
    color: inherit;
    background-color: #fff;
    height: 2px;
    border: 0;
    /* opacity: .25; */
}
.sidebar {
    z-index: 0;
}
.b-example-divider {
    position: fixed;
    left: 210px;
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: #1d2024;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    z-index: 1;
}
.container {
    max-height: 100%;
    max-width: 100%;
    margin-left: calc(210px + 1.5rem);
    z-index: 0;
}
.edit, .delete {
    padding: 0.1rem 0.3rem;
}
.signOut {
    position: fixed;
    bottom: 1rem;
    width: 178px;
}
.option-bar {
    position:absolute;
}