body {
    overflow-y: auto;
}
.err-text {
    width: 100%;
    text-align: center;
    line-height: 18px;
    /* color: #ff3f3f; */
    color: #343a40;
    font-size: 14px;
    /* display: none; */
    margin: 0;
}
.err-text-register {
    width: 100%;
    text-align: center;
    line-height: 18px;
    /* color: #ff3f3f; */
    color: #343a40;
    font-size: 14px;
    margin: 0;
    display: none;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
.custom-dupilication-button {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 0.3em;
    z-index: 2;
    height: calc(1.5em + 1rem + 2px);
}
.custom-dupilication-button:focus {
    outline: none !important;
}
.name {
    position: relative;
}
#typeNameX {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 93px);
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    border: 0;
    
}
input:focus {
    outline: none !important;
}
.btn-naver {
    background-color: #03c75a;
    color: #fff;
}
.btn-social {
    position: relative;
    text-align: left;
    padding-left: 4rem;
    font-weight: 450;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-social:hover {
    color: #fff;
}

.hr-label {
    margin: 1.25rem 0;
}
.hr-label:before, .hr-label:after {
    background-color: rgba(166,158,146,0.3);
    content: '';
    position: relative;
    width: 50%;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
}
.hr-label:before {
    right: 0;
    margin-left: -50%;
}
.hr-label:after {
    left: 0;
    margin-right: -50%;
}
.card {
    background-color: rgba(52, 58, 64, 0.2) !important;
}