.selectBox {
    width: 100%;
    border: 1px solid;
} 
.slider {
    padding: 0;
}

.answer {
    position: absolute;
    width: calc(45% - 30px);
    top: 50%;
    padding: 0.5rem 1rem;
    color: #000;
    background-color: #fff;
    opacity: 0;
    z-index: 1;
    font-size: 1.1rem;
    word-break: keep-all;
}
html {
    overflow: hidden;
}
.contents {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.2;
    word-wrap: break-word;
}
.answer-left {
    text-align: right;
    border-radius: 0 40px 40px 0;
    left: 0;
}
.answer-right {
    right: 0;
    text-align: left;
    border-radius: 40px 0 0 40px;
}
body {
    overflow: hidden;
}
.stats {
    padding: 0 1rem;
    margin: 2rem 0;
}
.stats > i {
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 2.75rem;
    color: rgba(255, 255, 255, 1);
    z-index: 0;
}
i > i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:50%;
    overflow: hidden;
    color: #7f7f7f;
}
.main {
    height: calc(100vh - 5.25rem)
}
.col-3.fa-solid {
    -webkit-text-stroke: .5px #212529;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top {
    z-index: 999;
}
#cardImage {
    width: 100%;
    height: 100%;
}
#npcName {
    font-size: 1.5rem;
}
@media only screen and (min-width: 320px) {
    .main {
        font-size: 10px;
    }
    header {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 375px) {
    .main {
        font-size: 11px;
    }
    
}
@media only screen and (min-width: 425px) {
    .main {
        font-size: 13px;
    }
}
@media only screen and (min-width: 768px) {
    .main {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1024px) {
    .main {
        font-size: 16px;
    }
    header {
        margin-bottom: 2rem;
    }
}
.star {
    position: absolute;
    background-color: #fff;
    filter: blur(5px);
}
@keyframes blink {
    10% { opacity: 0.8; }
    20% { opacity: 0.6; }
    30% { opacity: 0.4; }
    40% { opacity: 0.2; }
    50% { opacity: 0.0; }
    60% { opacity: 0.2; }
    70% { opacity: 0.4; }
    80% { opacity: 0.6; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
  }
