.selectBox {
    width: 100%;
    border: 1px solid;
} 
.slider {
    padding: 0;
}
.answer {
    position: absolute;
    width: calc(45% - 30px);
    top: 50%;
    padding: 0.5rem 1rem;
    color: #000;
    background-color: #fff;
    opacity: 0;
    font-size: 1.1rem;
}
.answer-left {
    text-align: right;
    border-radius: 0 40px 40px 0;
    left: 0;
}
.answer-right {
    right: 0;
    text-align: left;
    border-radius: 40px 0 0 40px;
}
body {
    overflow: hidden;
}
.stats {
    padding: 0 1rem;
    margin: 2rem 0;
}
.stats > i {
    display: inline-block;
    position: relative;
    font-size: 2.75rem;
    color: rgba(255, 255, 255, 1);
    z-index: 0;
}
i > i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:50%;
    overflow: hidden;
    color: rgba(0,0,0, .5);
}
.main {
    height: calc(100vh - 5.25rem)
}